/* http://codepen.io/bootstrapped/details/RrabNe/ */
/* http://codepen.io/ItScofield/pen/yOErzK */
@media only screen and (min-width : 481px) {
   .flex-row.row {
	 display: flex;
	 flex-wrap: wrap;
   }
   .flex-row.row > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
   }
  .flex-row.row:after,
  .flex-row.row:before {
	 display: flex;
  }
}

.flex-row .thumbnail,
.flex-row .caption {
 flex-direction: column;
 display: flex;
 flex: 1 0 auto;
 height: auto;
 position: relative;
}
.flex-text {
  flex-grow:1
}
.flex-row img {
  height:auto;
  width:100%
}

/* http://stackoverflow.com/questions/10591422/bootstrap-carousel-image-doesnt-align-properly */
.carousel-inner > .item > a > img {
    margin: 0 auto;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel {
        background-color: gray;
        position: relative;
        padding: 10px;     /* Shows as a border around the carousel */
    }
