<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- mandatory that the 3 above metatags come first in head-->
        <link rel="icon" href="/static/img/favicon.ico">
		{% if title %}
		<title>{{ title }} - FlaskMedia</title>
		{% else %}
		<title>FlaskMedia</title>
		{% endif %}
        <!-- Bootstrap CSS/theme-->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/static/css/custom.css" rel="stylesheet">
				<!-- Moment js for time/conversion -->
				<script src="/static/js/moment.min.js"></script>
	</head>
	<body style="padding-top: 70px">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">FlaskMedia</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home" aria-hidden=true></span> Home</a></li>
                        <li><a href="{{ url_for('TVseries') }}"><span class="glyphicon glyphicon-film" aria-hidden=true></span> TV shows</a></li>
                        <li><a href="{{ url_for('Movie_all') }}"><span class="glyphicon glyphicon-facetime-video" aria-hidden=true></span> Movies</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden=true></span> Options</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('shutdown') }}"><span class="glyphicon glyphicon-off" aria-hidden=true></span> Shutdown</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid" role="main">
				{% include 'messages.html'%}

				{% block content %}
        {% endblock %}
        <hr>
        <footer>
            <p>&copy; 2016</p>
        </footer>
        </div>
        <!-- Bootstrap core JS -->
        <!-- Placed at the end for improved loading times -->
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
	</body>
</html>
