<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="media">
  <div class="media-left">
      <a href="{{ url_for('TV', series_title=episode.series.title) }}">
          <img class="media-object" src="{{ episode.series.poster }}">
      </a>
  </div>
  <div class="media-body">
    <h2 class="media-heading">{{ episode.title }}</h2>
    <p>
        <li>{{ episode.plot }}</li>
        <hr>
        <li>Series: <a href="{{ url_for('TV', series_title=episode.series.title) }}">{{ episode.series.title }}</a></li>
        <li>Season: {{ episode.season }}</li>
        <li>Episode: {{ episode.episode }}</li>
        <li>First Aired: {{ episode.first_aired.date().strftime("%B %d, %Y") }}</li>
        <li>Last Updated: {{ momentjs(episode.last_updated_utc).calendar() }}</li>
        <li>TVDB Rating: {{ episode.TVDB_rating }}</li>
        <li>
            <a href="http://www.imdb.com/title/{{ episode.IMDB_id }}" class="btn btn-info" role="button">IMDB Page</a>
        </li>
    </p>
  </div>
</div>
{% endblock %}
