<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="media">
  <div class="media-left">
      <img class="media-object" src="{{ movie.poster }}">
  </div>
  <div class="media-body">
    <h2 class="media-heading">{{ movie.title }} <small>({{ movie.year }})</small> <img src="/static/img/ratings/RATED_{{ movie.rated }}.svg" height="32"></h2>
    <p>
        <li>{{ movie.plot }}</li>
        <hr>
        <li>Awards: {{ movie.awards }}</li>
        <li>Released: {{ movie.released.date().strftime("%B %d, %Y") }}</li>
        <li>Last Updated: {{ momentjs(movie.last_updated_utc).calendar() }}</li>
        <li>IMDB Rating: {{ movie.IMDB_rating }}</li>
        <li>
            <a href="http://www.imdb.com/title/{{ movie.IMDB_id }}" class="btn btn-info" role="button">IMDB Page</a>
            <a href="{{ url_for('edit_movie', title=movie.title, year=movie.year) }}" class="btn btn-default" role="button">Edit</a>
            <a href="{{ url_for('delete_movie', title=movie.title, year=movie.year) }}" class="btn btn-danger" role="button">Delete</a>
        </li>
    </p>
  </div>
</div>
{% endblock %}
