<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="media">
  <div class="media-left">
      <img class="media-object" src="{{ movie.poster }}">
  </div>
  <div class="media-body">
    <h2 class="media-heading">{{ movie.title }} ({{ movie.year }})</h2>
    <p>
        <li>{{ movie.plot }}</li>
        <hr>
        <li>Rated: {{ movie.rated }}</li>
        <li>Awards: {{ movie.awards }}</li>
        <li>Released: {{ movie.released.date().strftime("%B %d, %Y") }}</li>
        <li>Last Updated: {{ movie.last_updated_utc.strftime("%I:%M %p %B %d, %Y") }}</li>
        <li>IMDB Rating: {{ movie.IMDB_rating }}</li>
        <li><a href="http://www.imdb.com/title/{{ movie.IMDB_id }}" class="btn btn-default" role="button">IMDB Page</a></li>
    </p>
  </div>
</div>
{% endblock %}
