<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>{{ Series.title }}</h1>
    <hr>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Series</th>
                    <th>Season</th>
                    <th>Episode</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                {% for episode in episodes %}
                <tr>
                    <td>{{ episode.series.title }}</td>
                    <td>{{ episode.season }}</td>
                    <td>{{ episode.episode }}</td>
                    <td>{{ episode.title }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
