<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1><div class="text-center">{{ episodes[0].series.title }}</div></h1> <!-- select first ep to get series title -->
    <hr>
    <h2><img src="{{ episodes[0].series.poster }}"></h2>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Season</th>
                    <th>Episode</th>
                    <th>Title</th>
                    <th>Plot</th>
                </tr>
            </thead>
            <tbody>
                {% for episode in episodes %}
                <tr>
                    <td>{{ episode.season }}</td>
                    <td>{{ episode.episode }}</td>
                    <td><a href="{{ url_for('EP', series_title=episode.series.title, season=episode.season, episode=episode.episode) }}">{{ episode.title }}</a></td>
                    <td>{{ episode.plot }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
